<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Predictor</title>
</head>
<body>
    <div class="mainContainer">
        <div style="flex: 1; background-color: #1F28EB; display: flex; align-items: center;">
            <div style="display: flex; flex-direction: column; justify-content: center; width: 35vw; margin-left: 4rem; margin-right: 4rem;">
                <div>
                    <img src="../static/img/apostophe.png" style="width: 3vw;">
                </div>
                <div style="font-size: 6.5rem; font-weight: bold; color: white;">
                    Make a 
                    <br>
                    Dream.
                    <div style="font-size: 1rem; color: whitesmoke; font-weight: normal; margin-top: 1rem; border-left: 0.1rem white solid; padding-left: 2rem; line-height: 200%">
                        'I cannot emphasise how incredibly useful this tool has been! My wife and I have been planning on a massive renovation for our old home. 
                        This has made it so easy for us to accurately budget all aspects of our house.'
                    </div>
                    <div style="display: flex; padding-left: 2rem; align-items: center; margin-top: 1rem;">
                        <img src="../static/img/user.png" style="width: 2.5vw; object-fit: cover; height: 2.5vw; padding-top: 1rem;">
                        <div style="font-size: 1rem; padding-top: 1rem; padding-left: 1rem;">
                            Sofia Valentina
                            <br>
                            <span style="font-weight: normal;">
                                Homeowner & Business Woman
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex: 1; background-color: white">
            
        </div>
    </div>
</body>
</html>